.img-thumb {
  position: relative;
  border-radius: $rounded-big;
  overflow: hidden;
  button {
    text-align: left;
    width: 100%;
    height: 100%;
  }
  .figure {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: $rounded-big;
  }
  .img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: scale(1.1);
    transition: transform 0.2s ease-out
  }
  & > div {
    cursor: pointer;
    color: $palette-common-white;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &:hover {
    .img {
      transform: scale(1);
    }
    .detail {
      opacity: 1;
      background-position: 60% 0;
      &:before {
        bottom: 0;
      }
      h6, a {
        transform: translate(0, 20px);
      }
    }
  }
}

.detail {
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
  background: $gradient-triple-light;
  background-size: 300%;
  background-position: 0 0;
  padding: $spacing3;
  border-radius: $rounded-big;
  color: $palette-common-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    transition: all 0.4s ease-out
  }
  h6 {
    position: relative;
    transform: translate(0, 60px);
    margin-bottom: $spacing3;
    line-height: 36px
  }
  a {
    font-size: 18px;
    text-decoration: underline;
    color: $palette-primary-main;
    position: relative;
    transform: translate(0, 60px);
  }
}

.short {
  height: 240px;
  @include breakpoints-down(lg) {
    height: 210px
  }
  .img {
    width: 100%
  }
  &:before {
    width: 80px;
    height: 80px
  }
  .detail {
    height: 100%
  }
}

.medium {
  height: 320px;
  @include breakpoints-down(sm) {
    height: 210px
  }
  .img {
    width: 100%
  }
  .detail {
    height: 100%
  }
}

.long {
  height: 480px;
  @include breakpoints-down(sm) {
    height: 210px;
  }
  .img {
    height: 100%
  }
  &:before {
    width: 190px;
    height: 260px;
  }
  .figure {
    &:after {
      width: 300px;
      height: 300px;
      @include left(-200px);
      bottom: -120px;
    }
  }
  .detail {
    height: 80%
  }
}
